p.title {
  margin-top:30px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(82, 82, 82);
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  background-color:rgb(255, 255, 255);
  max-width: 1960px;
  width: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 50px;
  left: 100px;
  border: 1px solid white;
  box-shadow: 0px 24px 32px 
  rgba(0, 0, 0, 0.04), 
  0px 16px 24px rgba(0, 0, 0, 0.04), 
  0px 4px 8px rgba(0, 0, 0, 0.04), 
  0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 59px;
  height: 2500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100 vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*///////////   NAVBAR   ///////////*/
nav {
	position: fixed;
	top: 50;
	left: 150px;
	z-index: 999;
	width: 100%;
	height: 120px;
	background: transparent;
	padding: 1.5em 1.5em;
	display: flex;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Logout Button */
.mui-btn.button-logout {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	position: absolute;
	right: 350px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 6px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
	box-shadow: 0 10px 10px #ccc;
}

/*///////////   SEND MONEY   ///////////*/

/* button for Sending Money */
.mui-btn.button-money {
	color: #197BBD;
	background-color: rgb(236, 235, 235);
	font-size: 28px;
	margin-left: 30px;
	height: 70px;
	border-radius: 30px;
	cursor: pointer;
	width: 28%;
	text-align: center;
}


/* button for Sending Money $100 */
.mui-btn.button-money2 {
	color: #197BBD;
	background-color: rgb(236, 235, 235);
	font-size: 28px;
	margin-left: 30px;
	height: 70px;
	border-radius: 30px;
	cursor: pointer;
	width: 28%;
	text-align: center;
	padding-right: 65px;
}

/* Frame box for sending money*/
.frame-send-money {
	display: flex;
	padding: 10px;
	height: 400px;
	width: 700px;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: absolute;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 28px;
  top:500px;
  left:650px
}

/* Confirm & Cancel Button */
.mui-btn.button-confirm {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 0 10px 10px #ccc;
}

.mui-btn.button-cancel {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 0 10px 10px #ccc;
	box-shadow: 0 10px 10px #ccc;
}

.container {
	width: 50%;
	margin: 100px 100px 300px 800px;
	/*top right bottom left*/
}

/* Text */
p {
	font-size: 25px;
	font-weight: bolder;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 200px;
	left: 0;
}


/*//////////////////Pick Card Designs////////////////////*/

.cc-main-design {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
}


.cc-design1 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  max-height: 66%;
  max-width: 66%; 
}

.cc-design2 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  max-height: 66%;
  max-width: 66%; 
}

.cc-design3 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  max-height: 66%;
  max-width: 66%; 
}

.cc-design4 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  max-height: 66%;
  max-width: 66%; 
}

.cc-design5 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  max-height: 66%;
  max-width: 66%; 
}

.cc-design6 {
	width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%; 
  max-height: 66%;
  max-width: 66%;
}

.frame-card-selection{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	align-content: flex-start;
	height: 900px;
	width: 1100px;
	font-family: 'Quicksand', sans-serif;
	flex-direction: row;
	justify-content: center;
	left: 450px;
	margin-top: 300px;
	position: absolute;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 28px;
  gap: 1px;

}

.mui-btn.button-select {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	height: 50px;
	margin-top: 20px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
	box-shadow: 0 10px 10px #ccc;
}

.cc-main-design-top {
  width: 320px;
	height: 206px;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 5%;
  position:absolute;
  left:820px;
}

/*//////////////////   LOGIN   ////////////////////*/

.credit {
  margin-top: -70px;
  margin-bottom: 30px;
  margin-left: px;
  height: 250px;
  width: 400px;
  border: 0;
  border-radius: 20px;
  background: url(https://i.ibb.co/bRxw8RD/kids-1.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  box-shadow: 0 10px 10px #ccc;
}
.credit__card-number {
  height: 91px;
  padding-top: 120px;
  font-weight: 600;
  font-size: 25px;
  margin-top: 80px;
  letter-spacing: 4px;
	font-family: 'Quicksand', sans-serif;
}
.credit__ccv {
  height: 24px;
  float: right;
  margin-top: -10px;
  margin-right: 27px;
  text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.credit__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  height: 25px;
  margin-right: 1px;
	font-family: 'Quicksand', sans-serif;
}
.credit__date {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  height: 25px;
  margin-left: 8px;
  margin-right: 10px;
	font-family: 'Quicksand', sans-serif;
}
.credit label {
  color: #fff;
  margin-bottom: 10px;
	font-family: 'Quicksand', sans-serif;
}
.credit .credit__date {
  margin-left: -5px;
}
label {
	font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
}

.frame-login {
	display: flex;
	padding: 10px;
	height: 620px;
	width: 700px;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: absolute;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 28px;
  top:350px;
  left:650px
}

.mui-btn.button-login {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	position: absolute;
	right: 285px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 6px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
	box-shadow: 0 10px 10px #ccc;
}

input {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 100px;
	left: 0;
	margin: 10px;
	border: none;
	border-radius: 10px;
	height: 50px;
  width: 350px;
	text-align: center;
	color: black;
	background-color: #ffffff;
  box-shadow: 0 10px 10px rgb(215, 215, 215);
  font-family: 'Quicksand', sans-serif;
}

/*/////////////   RECENT TRANSACTIONS   ///////////////*/

.frame-recent {
	display: flex;
	padding: 10px;
	height: 620px;
	width: 700px;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: absolute;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 28px;
  top:1050px;
}

.column-left {
	float: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: grey;
	margin-right: 50px;
  margin-top: 20px;
}

.row {
	margin-top: 50px;
}

.column-right {
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: grey;
	margin-left: 50px;
  margin-top: 20px;
}

/*/////////////   CREDIT CARD INFO   //////////////*/

.frame-credit-card {
	display: flex;
	padding: 10px;
	height: 920px;
	width: 700px;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: absolute;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 28px;
  top:350px;
  left:650px
}

.small-5{
  margin-left: 122px;
}

