/* layout */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
 * Global layout 
 */




/* @media only screen and (max-width: 1025px) {
	.container {
		margin: auto;
		width: 90%;
	}
} */



/* @media only screen and (min-width: 1025px) {
	.container {
		width: 50%;
		margin: 300px 100px 100px 600px;
	}
} */


/* Nav */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 120px;
	background: white;
	padding: 1.5em 1.5em;
	display: flex;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
}


.container {
	width: 50%;
	margin: 100px 100px 300px 800px;
	/*top right bottom left*/
}

/* Logout Button */
.mui-btn.button-logout {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: 1000;
	width: 150px;
	height: 50px;
	position: absolute;
	right: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 6px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
}

/* Confirm & Cancel Button */
.mui-btn.button-confirm {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	border-radius: 20px;
}

.mui-btn.button-cancel {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	border-radius: 20px;
}

/* button for Sending Money */
.mui-btn.button-money {
	color: #197BBD;
	background-color: rgb(236, 235, 235);
	font-size: 28px;
	margin-left: 30px;
	height: 70px;
	border-radius: 30px;
	cursor: pointer;
	width: 28%;
	text-align: center;
}


/* button for Sending Money $100 */
.mui-btn.button-money2 {
	color: #197BBD;
	background-color: rgb(236, 235, 235);
	font-size: 28px;
	margin-left: 30px;
	height: 70px;
	border-radius: 30px;
	cursor: pointer;
	width: 28%;
	text-align: center;
	padding-right: 65px;
}

/* Text */
p {
	font-size: 25px;
	font-weight: bolder;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 100px;
	left: 0;
}

/* Frame box for sending money*/
.frame-send-money {
	display: flex;
	padding: 10px;
	border: 1px #dbd6d6;
	height: 400px;
	width: 700px;
	box-shadow: 0 3px 5px #ccc;
	border-radius: 5%;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: relative;
}

/* Regular frame*/
.frame {
	display: flex;
	padding: 10px;
	border: 1px #dbd6d6;
	height: 800px;
	width: 700px;
	box-shadow: 0 3px 5px #ccc;
	border-radius: 5%;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	margin-top:100px;
	position: absolute;
}

/*Recent Transactions Column*/
.column-left {
	float: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: grey;
	margin-right: 50px;
}

.row {
	margin-top: 50px;
}

.column-right {
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: grey;
	margin-left: 50px;
}


/*//////////////////Pick Card Designs////////////////////*/

.cc-main-design {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 550px;
	top: 327px;
	border-radius: 20px;
}

.cc-design2 {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 900px;
	top: 327px;
	border-radius: 20px;
}

.cc-design3 {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 1250px;
	top: 327px;
	border-radius: 20px;
}

.cc-design4 {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 550px;
	top: 574px;
	border-radius: 20px;
}

.cc-design5 {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 900px;
	top: 574px;
	border-radius: 20px;
}

.cc-design6 {
	position: absolute;
	width: 320px;
	height: 206px;
	left: 1250px;
	top: 574px;
	border-radius: 20px;
}

.frame-pick-cards {
	margin: 100px 100px 300px 800px;
	display: flex;
	padding: 10px;
	border: 1px #dbd6d6;
	height: 1000px;
	width: 1000px;
	box-shadow: 0 3px 5px #ccc;
	border-radius: 5%;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}

/*//////////////////Tina Dashboard////////////////////*/

.credit-card {
	height: 250px;
	width: 400px;
	border: 0;
	border-radius: 20px;
	background: url(https://i.ibb.co/bRxw8RD/kids-1.png) no-repeat center center;
	background-size: cover;
	background-position: top;
	color: white;
}

.mui-btn.button-request {
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	height: 50px;
	margin-top: 20px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
}

.card-balance {
	font-weight: 600;
	font-size: 30px;
	margin-left: 8px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	position: absolute;
	top: 170px;
	left: 165px;
	z-index: 2;
}

.card-number {
	font-weight: 600;
	font-size: 30px;
	margin-left: 8px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	position: absolute;
	top: 220px;
	right: 165px;
	z-index: 2;
}

.expiry-date {
	font-weight: 600;
	font-size: 30px;
	margin-left: 8px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	position: absolute;
	top: 240px;
	right: 165px;
	z-index: 2;
}

.ccv {
	font-weight: 600;
	font-size: 30px;
	margin-left: 8px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	position: absolute;
	top: 260px;
	right: 165px;
	z-index: 2;
}

/*//////////////////Tina Request Money////////////////////*/

.form-row {
	display: flex;
	flex-direction: row;
}

label p {
	font-size: 25px;
	font-weight: bolder;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 100px;
	left: 0;
	margin: 10px;
	text-align: center;
}

label input {
	font-size: 22px;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 100px;
	left: 0;
	margin: 10px;
	border: none;
	border-radius: 10px;
	height: 50px;
	text-align: center;
	color: black;
	background-color: #F0F0F0;
}

/*//////////////////Jane Dashboard////////////////////*/

.frame-money-request {
	display: flex;
	padding: 10px;
	border: 1px #dbd6d6;
	height: 400px;
	width: 900px;
	box-shadow: 0 3px 5px #ccc;
	border-radius: 5%;
	font-family: 'Quicksand', sans-serif;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: absolute;
	left: auto;
	right: auto;
}

.mui-btn.button-check{
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	width: 80px;
	height: 50px;
	margin-top: 65px;
	margin-left: 60px;
	border-radius: 20px;
}

.mui-btn.button-go{
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	height: 50px;
	margin-top: 65px;
	margin-left: 60px;
	border-radius: 20px;
}

.mui-btn.button-turn-off{
	color: white;
	font-size: 20px;
	background-color: #ffc107;
	opacity: 0.85;
	font-weight: bold;
	height: 50px;
	margin-left: 60px;
	border-radius: 20px;
}